#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
.App {
	width: max-content;
	-webkit-box-shadow: 0px 0px 20px 5px #a5a5a5
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.navbar {
	display: flex;
	background: #f55a5a;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: inter;
	font-weight: bold;
	/* font-size: 18px; */
	letter-spacing: .1px;
}

.navbar-logo {
	filter: hue-rotate(60deg) brightness(500%);
	width: 30px;
	height: 30px;
	margin: 10px 10px 10px 10px;
}

.card {
	display: flex;
	background: white;
	color: black;
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	max-width: 500px;
	max-height: 195px;
}
.card-image {
	border-radius: 5px;
    width: 200px;
    height: 215px;
	margin-right: 20px;
	box-shadow: 7px 7px 3px #ccc;
	-moz-box-shadow: 7px 7px 3px #ccc;
	-webkit-box-shadow: 7px 7px 3px #ccc;
	-khtml-box-shadow: 7px 7px 3px #ccc;
}

.card-pin {
	width: 10px;
	height: 13px;
	margin-right: 10px;
}

.card-location-text {
	margin-right: 8px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0.11em;
	text-align: left;
}

.card-date {
	font-weight: bold;
	font-size: 14px;
}

.card-text {
	font-weight: 500;
    font-size: 13px;
    line-height: 15.36px;
	padding-top: 4px;
	margin-top: auto;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
